$primary-color: white;
$btn-color: #1db954;
$hover-color: #66d862;
$main-font-size: 80px;
$font-family: "Helvetica";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}
a {
  text-decoration: none;
  color: white;
  &:hover {
    color: $hover-color;
  }
}
.header {
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 12vh;
  background-color: rgba(0, 0, 0, 0.6);
  color: $primary-color;
  .logo {
    display: flex;
    width: 15%;
    align-items: center;
    padding-left: 5%;
  }
  nav {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    padding-right: 5%;
    li {
      list-style: none;
      padding: 28px 17px;
    }
  }
}

.main {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: rgb(240, 83, 99);
  background: linear-gradient(
    180deg,
    rgba(240, 83, 99, 1) 10%,
    rgba(243, 172, 61, 1) 100%
  );
  color: $primary-color;
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
    text-align: center;
    z-index: 90;
    width: 100%;

    h1 {
      font-size: $main-font-size;
      margin-bottom: 20px;
    }
    h2 {
      margin-bottom: 20px;
      font-size: 18px;
    }
    button {
      background-color: $btn-color;
      border: none;
      color: $primary-color;
      font-size: 14px;
      padding: 16px 48px 18px;
      border-radius: 25px;
      margin-top: 20px;
      cursor: pointer;
      letter-spacing: 1px;
      transition: 0.5s;
      &:hover {
        background-color: lighten($btn-color, 15%);
      }
    }
  }
  .ball1 {
    border-radius: 50%;
    width: 1000px;
    height: 1000px;
    background: linear-gradient(
      0deg,
      rgba(240, 83, 99, 1) 0%,
      rgba(243, 172, 61, 1) 35%
    );
    z-index: 80;
    position: absolute;
    top: -65%;
    left: 3%;
  }
  .ball2 {
    border-radius: 50%;
    width: 700px;
    height: 700px;
    background: linear-gradient(
      180deg,
      rgba(240, 133, 65, 1) 0%,
      rgba(240, 84, 97, 1) 40%
    );
    z-index: 80;
    position: absolute;
    bottom: -60%;
    left: -15%;
  }
  .ball3 {
    border-radius: 50%;
    width: 600px;
    height: 600px;
    z-index: 80;
    position: absolute;
    bottom: -60%;
    right: -10%;
    background: linear-gradient(
      180deg,
      rgba(240, 133, 65, 1) 0%,
      rgba(240, 84, 97, 1) 85%
    );
  }
}
footer {
  position: relative;
  height: 85vh;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  .footer_wrapper {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-start;
    padding-top: 25px;
    .logo {
      display: flex;
      align-items: center;
      width: 15%;
      color: white;
      padding-left: 5%;
    }
    .footer_wrapper_info {
      width: 10%;
      flex-direction: column;
      color: white;
      margin-left: 5%;
      .gray {
        color: gray;
        font-weight: bold;
        font-size: 12px;
      }
      li {
        list-style: none;
        padding: 20px 0;
      }
      .wrapper_info-icons {
        display: flex;
        margin-left: 180px;

        .circle {
          width: 55px;
          height: 55px;
          background-color: #222326;
          border-radius: 50%;
          margin-right: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          .fa {
            color: white;
            font-size: 25px;
            &:hover {
              color: $hover-color;
            }
          }
        }
      }
    }
  }
  .footer_info1 {
    position: absolute;
    bottom: 10%;
    left: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 8%;
    p {
      color: #688479;
      padding-right: 1%;
      font-weight: bold;
      font-size: 15px;
    }
  }
  .footer_info2 {
    position: absolute;
    bottom: 5%;
    left: 5%;
    display: flex;

    width: 100%;
    li a {
      color: #688479;
      font-size: 12px;

      &:hover {
        color: $hover-color;
      }
    }
    .copy {
      color: #688479;
      font-size: 12px;
      margin-left: 465px;
    }
  }
}
